[submodule "rpi-flask-webserver/RPi-Flask-WebServer"]
	path = rpi-flask-webserver/RPi-Flask-WebServer
	url = https://github.com/bcmi-labs/RPi-Flask-WebServer.git
[submodule "cloudshell"]
	path = cloudshell
	url = git@github.com:bcmi-labs/cloudshell.git
[submodule "go-rpc-proxy/src"]
	path = go-rpc-proxy/src
	url = https://github.com/arduino/portentax8-m4-proxy.git
[submodule "go-rpc-serial/src"]
	path = go-rpc-serial/src
	url = https://github.com/arduino/portentax8-m4-proxy.git
[submodule "python-rpc-example/src"]
	path = python-rpc-example/src
	url = https://github.com/arduino/portentax8-m4-proxy.git

