{
  "name": "portenta-x8",
  "type": "portenta_x8",
  "device_id": "",
  "pin": "87654321",
  "so_pin": "12345678",
  "uri": "pkcs11:model=OP-TEE%20TA;manufacturer=Linaro;serial=0000000000000000;token=arduino"
}